@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

/** ...................Gloable Variables.................... */
* {
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #002147;
    --secondary-color: #b9cf25;
    --grey-color: #999999;
    --white-color: #fff;
}

.nav-color {
    background-color: var(--primary-color) !important;
}

h1 {
    color: var(--primary-color);
    word-spacing: 4px;
}

span {
    color: var(--secondary-color);
}

.mt-8 {
    margin-top: 80px;
}

.mb-8 {
    margin-bottom: 80px;
}

#pri-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 10px 20px;
}

#pri-small-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 5px 12px;
    font-size: 14px;
}

#pri-btn:hover,
#pri-small-btn:hover {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

#sec-btn {
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 10px 20px;
}

#sec-small-btn {
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 5px 12px;
    font-size: 14px;
}

#sec-btn:hover,
#sec-small-btn:hover {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

/** ...................Home Page.................... */
/* Navbar Section */
nav .navbar-brand {
    font-size: 22px;
    color: var(--secondary-color);
    line-height: 22px;
    text-align: center;
    margin: 10px 0;
}

nav .nav-link {
    padding: 0 !important;
    margin: 0 20px 10px 0;
    position: relative;
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
}

nav .nav-link:hover,
nav .nav-link.active,
nav .navbar-brand:hover {
    color: var(--secondary-color) !important;
}

nav .nav-link:hover::after,
nav .nav-link.active::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--secondary-color);
    bottom: -2px;
    left: 0;
}

nav .dropdown-menu {
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid var(--secondary-color);
}

nav .dropdown-item {
    color: var(--white-color);
    font-size: 18px;
    padding: 2px 10px;
}

nav .dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent !important;
    color: var(--secondary-color) !important;
}

nav #navbarNav .btn {
    padding: 12px;
    font-size: 14px;
}

/* Header Pic Section */
#header-pic .carousel {
    position: relative;
}

#header-pic .carousel-caption.home {
    position: absolute;
    top: 35%
}

#header-pic .carousel-caption h1 {
    color: var(--white-color);
}

#header-pic .carousel-inner img {
    width: 100%;
    height: 80vh;
}

/* About Card Section */
#aboutus {
    border: none;
    flex-direction: row;
}

#aboutus .card-body {
    border-top: 5px solid var(--secondary-color);
    margin-left: 4%;
    height: fit-content;
}

/* Qualities Section */
#qualities {
    background-color: var(--primary-color);
    background-image: url(../Images/Qualities\ bg.png);
    height: fit-content;
}

#qualities h1 {
    color: var(--white-color);
}

#qualities .card {
    background-color: transparent;
    border: none;
}

#qualities .card img {
    max-height: 230px;
    max-width: 120px;
    margin: auto;
    padding: 20px 0 20px 0;
}

#qualities .card h2 {
    color: var(--white-color);
}

#qualities .card p {
    color: var(--white-color);
    text-align: center;
}

#qualities button {
    color: transparent;
}

/* Testimonial Section */
.testi-img .img-box {
    max-width: 360px;
    margin: auto;
    text-align: center;
    position: relative;
}

.testi-img .circle {
    height: 360px;
    width: 360px;
    background-color: var(--grey-color);
    position: absolute;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease;
}

.testi-img .img-box-inner {
    position: relative;
    border-radius: 0 0 180px 180px;
    overflow: hidden;
    height: 340px;
}

.testi-img .img-box-inner img {
    max-width: 280px;
    max-height: 340px;
}

.testi-item h3 {
    color: var(--primary-color);
    font-weight: 700;
    border-bottom: 5px solid var(--secondary-color);
    width: fit-content;
    margin-bottom: 20px;
}

.testimonial .carousel-control-next,
.testimonial .carousel-control-prev {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--secondary-color);
    display: inline-flex;
    border-radius: 50%;
}

.testimonial .carousel-control-prev img,
.testimonial .carousel-control-next img {
    width: 15px;
}

/* Footer Section */
footer {
    background-color: var(--primary-color) !important;
    padding: 60px 0 20px 0;
    height: 85%;
}

footer h3 {
    color: var(--white-color);
}

#socials i {
    color: var(--grey-color);
    font-size: 30px;
    margin: 0 8px;
}

footer a,
footer p {
    text-decoration: none;
    color: var(--grey-color);
}

footer i,
footer a:hover,
#socials i:hover {
    color: var(--secondary-color);
}

footer #newsletter {
    padding: 70px 0;
    background-color: var(--secondary-color);
    color: var(--white-color);
    height: 40vh;
    border-radius: 50px;
}

footer #newsletter form {
    display: flex;
}

#newsletter span {
    color: var(--primary-color);
}

#newsletter input {
    width: 40%;
    padding: 10px 20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    width: 10%;
    padding: 10px 20px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* Copyright Section */
#copyright div {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    word-spacing: 2px;
    padding: 20px 0;
    border-top: 1px solid var(--white-color);
}

/** ...................About Page.................... */
/* Header Pic Section */
#header-pic .carousel-caption {
    position: absolute;
    top: 40%
}

/* Background Pic Section */
#header-pic nav {
    --bs-breadcrumb-divider: url(../../Svgs/breadcrumbs-svgrepo-com.svg width: 10; height: 10;)
}

.breadcrumb-item,
.breadcrumb-item a,
.breadcrumb-item::before {
    color: var(--white-color) !important;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--secondary-color) !important;
}

/* About President Card Section */
#about-president {
    border: none;
    flex-direction: row-reverse;
}

#about-president .card-body {
    border-top: 5px solid var(--secondary-color);
    margin-right: 4%;
    height: fit-content;
}

/* Our Vision Card Section */
#about-vision {
    border: none;
    flex-direction: row;
}

#about-vision .card-body {
    border-top: 5px solid var(--secondary-color);
    margin-left: 4%;
    height: fit-content;
}

/** ...................Blog Page.................... */
/* Blog Section */
#blog .card {
    border: none;
    flex-direction: row;
    display: flex;
    position: relative;
}

#blog .card-img {
    width: 40%;
    z-index: 1;
}

#blog .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
}

#blog .card-body h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--primary-color);
}

#blog .card-body a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}

#blog .card-body a:hover {
    color: var(--secondary-color);
    transition: 0.2s ease;
}

#blog h1 {
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 5px;
    color: var(--grey-color);
}

/** ...................Services Page.................... */
/* Services Section */
.service:nth-child(even) {
    border: none;
    flex-direction: row;
}

.service:nth-child(odd) {
    border: none;
    flex-direction: row-reverse;
}

.service:nth-child(even) .card-body {
    border-top: 5px solid var(--secondary-color);
    margin-left: 4%;
    height: fit-content;
}

.service:nth-child(odd) .card-body {
    border-top: 5px solid var(--secondary-color);
    margin-right: 4%;
    height: fit-content;
}

/** ...................Services Pages Sea, Land, etc.................... */
/* About Service Section */
#all-services .card {
    border: none;
    text-align: justify;
}

#all-services .card-title {
    line-height: 70px;
    border-bottom: 5px solid var(--secondary-color);
}

/** ...................Contact Page.................... */
/* Contacts Details Section */
#details {
    display: flex;
    justify-content: space-between;
}

#details iframe {
    width: 600px;
    height: 450px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
}

#details #detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

/* Contact Forms Section */
#forms .card {
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    padding: 50px;
}

#forms #form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#forms #form #form1 {
    width: 50%;
    margin-right: 20px;
}

#forms #form #form2 {
    width: 50%;
    margin-left: 20px;
}

#forms #form .form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.2rem var(--secondary-color);
}

#form-btns {
    display: flex;
    justify-content: center;
}

#form-btns button {
    width: 120px;
    padding: 10px 30px;
}

/* FAQs Section */
.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b9cf25'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23b9cf25'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-item,
.accordion-button {
    color: var(--secondary-color) !important;
    background-color: var(--primary-color) !important;
    color: #b9cf25;
}

.accordion-item:focus-within .accordion-button {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.2rem var(--secondary-color);
}

/** ...................Responsive Media Queries.................... */
@media screen and (max-width: 885px) {

    /* Header Pic Section */
    #header-pic .carousel-inner img {
        height: 60vh;
    }

    #header-pic .carousel-caption.home {
        top: 30%
    }

    /* Aboutus Section */
    #aboutus {
        display: flex;
        flex-direction: column;
    }

    #aboutus img {
        width: 100% !important;
        margin-bottom: 30px;
    }

    #aboutus .card-body {
        margin: 0;
    }

    /* Qualities Section */
    #qualities .card img {
        max-height: 120px;
        max-width: 80px;
        margin: auto;
        padding: 10px 0 10px 0;
    }

    /* Testimonials Section */
    .testi-img .circle {
        height: 260px;
        width: 260px;
    }

    .testi-img .img-box-inner {
        height: 260px;
    }

    .testi-img .img-box-inner img {
        max-width: 260px;
        max-height: 260px;
    }

    .testimonial .carousel-inner {
        margin-top: 0 !important;
    }

    /* Footer Section */
    footer #newsletter {
        height: 25vh;
        padding: 65px 0;
    }

    #newsletter input {
        width: 50%;
        padding: 10px 20px;
    }

    #newsletter button {
        width: 20%;
    }

    /** ...................About Page.................... */
    /* About President/Vision Card Section */
    #about-president,
    #about-vision {
        display: flex;
        flex-direction: column;
    }

    #about-president img,
    #about-vision img {
        width: 100% !important;
        margin-bottom: 30px;
    }

    #about-president .card-body,
    #about-vision .card-body {
        margin: 0;
    }

    /** ...................Blog Page.................... */
    /* Blog Section */
    #blog .card {
        flex-direction: column;
    }

    #blog .card-img {
        width: 100%;
        z-index: 1;
    }

    #blog .card-body {
        padding: 0;
        margin-left: 0;
        margin-top: 30px;
    }

    /** ...................Services Page.................... */
    /* Services Section */
    .service:nth-child(even),
    .service:nth-child(odd) {
        display: flex;
        flex-direction: column;
    }

    .service:nth-child(even) img,
    .service:nth-child(odd) img {
        width: 100% !important;
        margin-bottom: 30px;
    }

    .service:nth-child(even) .card-body,
    .service:nth-child(odd) .card-body {
        margin: 0;
    }
}

@media screen and (max-width: 560px) {

    /** ...................Home Page.................... */
    /* Header Pic Section */
    #header-pic .carousel-caption.home h1 {
        font-size: 18px;
    }

    #header-pic .carousel-caption.home p {
        font-size: 12px;
        line-height: 14px;
    }

    #header-pic .carousel-caption.home button {
        padding: 8px;
        font-size: 14px;
    }

    #header-pic .carousel-inner img {
        height: 40vh;
    }

    #header-pic .carousel-caption.home {
        top: 15%
    }

    /* Testimonial Section */
    .testi-img .img-box {
        margin-bottom: 20px;
    }

    .testi-img .circle {
        height: 340px;
        width: 340px;
    }

    .testi-img .img-box-inner {
        height: 340px;
    }

    .testi-img .img-box-inner img {
        max-width: 340px;
        max-height: 340px;
    }

    .testimonial .carousel-item h3,
    .testimonial .carousel-item p {
        width: initial;
        text-align: center;
    }

    .middle-item {
        position: absolute;
        bottom: -25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* Footer Section */
    footer #newsletter {
        height: 30vh;
        padding: 55px 15px;
    }

    #newsletter input {
        width: 60%;
        padding: 8px 15px;
    }

    #newsletter button {
        width: 30%;
        padding: 8px 15px;
        font-size: 16px;
    }

    footer .col {
        margin-bottom: 15px;
    }

    /** ...................Contact Page.................... */
    /* Contacts Details Section */
    #details {
        flex-direction: column;
    }

    #details iframe {
        width: 100%;
        height: 400px;
    }

    #details #detail {
        width: 100%;
    }

    /* Contact Forms Section */
    #forms .card {
        padding: 25px;
    }

    #forms #form {
        flex-direction: column;
    }

    #forms #form #form1,
    #forms #form #form2{
        margin: 0;
        width: 100%;
    }
}