@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

/** ...................Gloable Variables.................... */
* {
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #002147;
    --secondary-color: #b9cf25;
    --tertiary-color: #999999;
    --text-color: #e4e4e4;
    --basic-color: #fff;

    --links-fs: 18px;
}

.nav-color {
    background-color: var(--primary-color) !important;
}

h1{
    color: var(--primary-color);
    word-spacing: 4px;
}

span{
    color: var(--secondary-color);
}

#pri-btn{
    color: var(--basic-color);
    background-color: var(--primary-color);
    padding: 10px 40px;
}

#sec-btn {
    color: var(--basic-color);
    background-color: var(--secondary-color);
    padding: 10px 40px;
}

#sec-btn:hover {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

/** ...................Home Page.................... */
/* Navbar Section */
nav .navbar-brand{
    font-size: 22px;
    color: var(--secondary-color);
    line-height: 22px;
    text-align: center;
}

nav .navbar-brand:hover{
    color: var(--secondary-color);
}

.Nav-Links a {
    position: relative;
    text-decoration: none;
    color: var(--basic-color);
    font-size: var(--links-fs);
}

.Nav-Links a.active,
.Nav-Links a:hover {
    color: var(--secondary-color) !important;
}

.Nav-Links a.active::after,
.Nav-Links a:hover::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--secondary-color);
    bottom: -2px;
    left: 0;
}

.nav-link {
    padding: 0 !important;
    margin: 0 20px;
}

/* Background Carousel Section */
#background .carousel {
    position: relative;
}

#background .carousel-caption {
    position: absolute;
    top: 35%
}

#background .carousel-caption h1 {
    color: var(--basic-color);
}

#background .carousel-inner img {
    width: 100%;
    height: 100vh;
}

/* Aboutus Card Section */
#aboutus {
    border: none;
    flex-direction: row;
}

#aboutus .card-body{
    border-top: 5px solid var(--secondary-color);
    margin-left: 4%;
    height: fit-content;
}

/* Qualities Portion */
#qualities{
    background-color: var(--primary-color);
    background-image: url(../Images/Qualities\ bg.png);
    height: 90vh;
}

#qualities h1 {
    color: var(--basic-color);
}

#qualities .card{
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

#qualities .card img{
    max-height: 230px;
    max-width: 120px;
    margin: auto;
    padding: 20px 0 20px 0;
}

#qualities .card h2{
    color: var(--basic-color);
}

#qualities .card p{
    color: var(--basic-color);
    text-align: center;
}

#qualities button{
    color: var(--secondary-color);
    font-size: 70px;
    width: 50px;
    height: 50px;
    top: 380px;
    opacity: 100 !important;
}

#qualities #btn-left{
    left: 43%;
}

#qualities #btn-right{
    right: 43%;
}

/* Footer Section */
footer{
    background-color: var(--primary-color) !important;
    padding: 60px 0 30px 0;
    margin-top: 180px;
    padding-top: 180px;
    height: 60vh;
    position: relative;
}

footer h3{
    color: var(--basic-color);
}

footer i{
    color: var(--secondary-color);
}

footer a,
footer p{
    text-decoration: none;
    color: var(--tertiary-color);
}

footer a:hover{
    color: var(--secondary-color);
}

footer #newsletter {
    padding: 30px;
    background-color: var(--secondary-color);
    color: var(--basic-color);
    height: 30vh;
    width: 140vh;
    border-radius: 50px;
    position: absolute;
    top: -130px;
}

footer #newsletter form{
    display: flex;
}


#newsletter span{
    color: var(--primary-color);
}

#newsletter input{
    width: 40%;
    padding: 10px 20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    width: 15%;
    padding: 10px 20px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* Copyright Section */
#copyright div{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    word-spacing: 2px;
    padding: 20px 0;
    border-top: 1px solid var(--basic-color);
}

/** ...................About Page.................... */
/* Background Pic Section */
.breadcrumb-item,
.breadcrumb-item a,
.breadcrumb-item::before {
    color: white !important;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: blue !important;
    transition-duration: 0.5s;
}

/* AboutUs Card Section */
#About-card {
    border-width: 0;
    flex-direction: row;
}

#About-card-title {
    padding-bottom: 5px;
}

#About-card-text {
    text-align: justify;
}

#About-card-img {
    padding: 20px 0 8px 0;
    width: 50%;
}

#About-Company-card-body {
    padding: 0 10vh 0 0;
}

/* About President Card Section */
#About-CEO-card-body {
    padding: 0 0 0 10vh;
}

/* Our Vision Card Section */
#About-Vision-card-body {
    padding: 0 10vh 0 0;
}

/** ...................Services Page.................... */
/* Services Section */
#Service-card {
    border-width: 0;
    flex-direction: row;
}

#Service-card-body {
    padding: 0;
}

#Service-card-title {
    padding-bottom: 5px;
}

#Service-card-text {
    text-align: justify;
}

#Services-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

#Services-col {
    padding: 0 10px 0 10px;
    border-radius: 0;
}

/** ...................Contact Page.................... */

/** ...................Responsive Media Queries.................... */
@media only screen and (max-width: 1200px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 14vh;
    }

    .carousel-caption h5 {
        font-size: 40px;
    }

    .carousel-caption p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 10vh;
    }

    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 793px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 7vh;
    }

    .carousel-caption h5 {
        font-size: 25px;
    }

    .carousel-caption p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 653px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 7vh;
    }

    .carousel-caption h5 {
        font-size: 35px;
    }

    .carousel-caption p {
        font-size: 0px;
    }
}

@media only screen and (max-width: 523px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 4vh;
    }

    .carousel-caption h5 {
        font-size: 25px;
    }

    .carousel-caption p {
        font-size: 0px;
    }
}

@media only screen and (max-width: 368px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 1vh;
    }

    .carousel-caption h5 {
        font-size: 22px;
    }

    .carousel-caption p {
        font-size: 0px;
    }
}
