@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&family=Roboto&display=swap');

/** Global Variables */
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

/** ...................Home Page.................. */
/* Navbar Section */
.navbar-brand{
    color: blue !important;
}

.Nav-Links a {
    position: relative;
    text-decoration: none;
    color: lightgray;
}

.nav-link{
    padding: 0 !important;
    margin-left: 20px;
}

/* Background Carousel Section */
.carousel-caption h5{
    font-size: 50px;
    letter-spacing: 2px;
}

.carousel-caption p{
    font-size: 30px;
}

#carousel-Mtext{
    animation-delay: 0.5s;
}

#carousel-text{
    animation-delay: 1s;
}

/* Aboutus Card Section */
#aboutus{
    border: none;
    flex-direction: row;
}

/* Core Values Portion */
#Value-card{
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

#Values-img{
    max-height: 120px;
    max-width: 80px;
    margin: auto;
    padding: 20px 0 20px 0;
}

#Values-carousel-control{
    color: blue;
    font-size: 2.5rem;
    width: 10vh;
    height: 10vh;
    top: 50%;
    transform: translateY(-50%);
    opacity: 100 !important;
}

#Values-carousel-control:hover{
    color: black;
}

/** ...................About Page.................. */

