@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap');

/** ...................Gloable Variables.................... */
* {
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #002147;
    --secondary-color: #b9cf25;
    --tertiary-color: #999999;
    --basic-color: #fff;

    --links-fs: 18px;
}

.nav-color {
    background-color: var(--primary-color) !important;
}

h1{
    color: var(--primary-color);
    word-spacing: 4px;
}

span{
    color: var(--secondary-color);
}

.mt-8{
    margin-top: 80px;
}

.mb-8{
    margin-bottom: 80px;
}

#pri-btn{
    color: var(--basic-color);
    background-color: var(--primary-color);
    padding: 10px 40px;
}

#pri-small-btn{
    color: var(--basic-color);
    background-color: var(--primary-color);
    padding: 5px 12px;
    font-size: 14px;
}

#pri-btn:hover,
#pri-small-btn:hover {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid var(--primary-color);
}

#sec-btn {
    color: var(--basic-color);
    background-color: var(--secondary-color);
    padding: 10px 40px;
}

#sec-small-btn {
    color: var(--basic-color);
    background-color: var(--secondary-color);
    padding: 5px 12px;
    font-size: 14px;
}

#sec-btn:hover,
#sec-small-btn:hover {
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

/** ...................Home Page.................... */
/* Navbar Section */
nav .navbar-brand{
    font-size: 22px;
    color: var(--secondary-color);
    line-height: 22px;
    text-align: center;
}

nav .navbar-brand:hover{
    color: var(--secondary-color);
}

.Nav-Links a {
    position: relative;
    text-decoration: none;
    color: var(--basic-color);
    font-size: var(--links-fs);
}

.Nav-Links a.active,
.Nav-Links a:hover {
    color: var(--secondary-color) !important;
}

.Nav-Links a.active::after,
.Nav-Links a:hover::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--secondary-color);
    bottom: -2px;
    left: 0;
}

.nav-link {
    padding: 0 !important;
    margin: 0 20px;
}

/* Background Carousel Section */
#background .carousel {
    position: relative;
}

#background .carousel-caption {
    position: absolute;
    top: 35%
}

#background .carousel-caption h1 {
    color: var(--basic-color);
}

#background .carousel-inner img {
    width: 100%;
    height: 100vh;
}

/* About Card Section */
#aboutus {
    border: none;
    flex-direction: row;
}

#aboutus .card-body{
    border-top: 5px solid var(--secondary-color);
    margin-left: 4%;
    height: fit-content;
}

/* Qualities Portion */
#qualities{
    background-color: var(--primary-color);
    background-image: url(../Images/Qualities\ bg.png);
    height: 90vh;
}

#qualities h1 {
    color: var(--basic-color);
}

#qualities .card{
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

#qualities .card img{
    max-height: 230px;
    max-width: 120px;
    margin: auto;
    padding: 20px 0 20px 0;
}

#qualities .card h2{
    color: var(--basic-color);
}

#qualities .card p{
    color: var(--basic-color);
    text-align: center;
}

#qualities button{
    color: var(--secondary-color);
    font-size: 70px;
    width: 50px;
    height: 50px;
    top: 380px;
    opacity: 100 !important;
}

#qualities #btn-left{
    left: 43%;
}

#qualities #btn-right{
    right: 43%;
}

/* Footer Section */
footer{
    background-color: var(--primary-color) !important;
    padding: 60px 0 20px 0;
    height: 85%;
    position: relative;
}

footer h3{
    color: var(--basic-color);
}

#socials i{
    color: var(--secondary-color);
    font-size: 30px;
    margin-right: 10px;
}

footer a,
footer p{
    text-decoration: none;
    color: var(--tertiary-color);
}

footer i,
footer a:hover{
    color: var(--secondary-color);
}

footer #newsletter {
    padding: 50px;
    background-color: var(--secondary-color);
    color: var(--basic-color);
    height: 40vh;
    border-radius: 50px;
}

footer #newsletter form{
    display: flex;
}

#newsletter span{
    color: var(--primary-color);
}

#newsletter input{
    width: 50%;
    padding: 10px 20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    width: 20%;
    padding: 10px 20px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

/* Copyright Section */
#copyright div{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    word-spacing: 2px;
    padding: 20px 0;
    border-top: 1px solid var(--basic-color);
}

/** ...................About Page.................... */
/* Background Pic Section */
.breadcrumb-item,
.breadcrumb-item a,
.breadcrumb-item::before {
    color: var(--basic-color) !important;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--secondary-color) !important;
}

/* About President Card Section */
#about-president {
    border: none;
    flex-direction: row-reverse;
}

#about-president .card-body{
    border-top: 5px solid var(--secondary-color);
    margin-right: 4%;
    height: fit-content;
}

/* Our Vision Card Section */
#about-vision {
    border: none;
    flex-direction: row;
}

#about-vision .card-body{
    border-top: 5px solid var(--secondary-color);
    margin-left: 4%;
    height: fit-content;
}

/** ...................Services Page.................... */
/* Services Section */
#service h1 span, 
#service p, 
#services-card .card-title{
    color: var(--secondary-color);
}

#services-card .col{
    margin-bottom: 30px;
}

#services-card .card,
#services-card .card img{
    border-radius: 50px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.3);
}

#services-card .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

/** ...................Services Pages Sea, Land, etc.................... */
/* About Service Section */
#all-services .card{
    border: none;
}

#all-services .card-title{
    line-height: 70px;
    border-bottom: 5px solid var(--secondary-color);
}

/** ...................Contact Page.................... */
/* Form Section */
#form .col button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/** ...................Responsive Media Queries.................... */
/* @media only screen and (max-width: 1200px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 14vh;
    }

    .carousel-caption h5 {
        font-size: 40px;
    }

    .carousel-caption p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 10vh;
    }

    .carousel-caption h5 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 793px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 7vh;
    }

    .carousel-caption h5 {
        font-size: 25px;
    }

    .carousel-caption p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 653px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 7vh;
    }

    .carousel-caption h5 {
        font-size: 35px;
    }

    .carousel-caption p {
        font-size: 0px;
    }
}

@media only screen and (max-width: 523px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 4vh;
    }

    .carousel-caption h5 {
        font-size: 25px;
    }

    .carousel-caption p {
        font-size: 0px;
    }
}

@media only screen and (max-width: 368px) {
    .navbar-nav {
        text-align: right;
    }

    .carousel-caption {
        bottom: 1vh;
    }

    .carousel-caption h5 {
        font-size: 22px;
    }

    .carousel-caption p {
        font-size: 0px;
    }
} */
